**Домашнее задание**

**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [55]:
import pandas as pd

In [56]:
data = pd.read_csv('ratings.csv')
data.head()

                              useri   movie_id   rating                tstamp
0  8e7cebf9a234c064b75016249f2ac65e          1      5.0   2001-09-10 17:19:56
1  8e7cebf9a234c064b75016249f2ac65e          2      4.0   2001-09-28 11:34:55
2  8e7cebf9a234c064b75016249f2ac65e          3      4.0   2001-09-28 11:42:50
3  8e7cebf9a234c064b75016249f2ac65e          5      5.0   2001-09-28 11:27:30
4  8e7cebf9a234c064b75016249f2ac65e          6      4.0   2002-01-07 18:12:02

In [70]:
#в выбранном датасете из https://grouplens.org/datasets/personality-2018/ заголовки идут через запятую с пробелом, поэтому при обращении к столбцам датасета в наименовании столбца есть пробел
data[data[' rating']==5.0][' movie_id'].mode() #отфильтровали фильмы по рейтингу==5 и нашли моду по столбцу идентификаторов фильмов

0    318
dtype: int64

In [73]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [95]:
data.query('country in ("Latvia", "Lithuania", "Estonia") and category in (4,12,21) and year>=2005 and year<=2010 and quantity>=0')['quantity'].sum()

240580.0

In [112]:
page_url='https://www.tradingview.com/markets/cryptocurrencies/prices-all/'
df = pd.read_html(page_url, attrs = {'class': 'tv-data-table tv-screener-table'}, encoding='utf-8')

In [113]:
df[:5]

[             Unnamed: 0 Unnamed: 1 Unnamed: 2  Unnamed: 3 Unnamed: 4  \
 0               Bitcoin   881.297B   994.459B    47355.18    18.610M
 1              Ethereum   203.624B   203.624B     1779.89   114.402M
 2               Cardano    29.246B    42.300B        0.94    31.112B
 3                Tether    24.936B    25.530B        1.00    24.916B
 4                   XRP    23.695B    52.188B        0.52    45.404B
 ..                  ...        ...        ...         ...        ...
 145  F  Harvest Finance   159.061M   245.885M      356.14   446.629K
 146            MonaCoin   158.371M   158.371M        2.41    65.730M
 147        BigONE Token   157.544M   226.737M        0.02     8.755B
 148    Morpheus.Network   154.943M   157.298M        3.28    47.180M
 149     P  Polkastarter   152.560M   296.964M        2.97    51.373M

     Unnamed: 5 Unnamed: 6 Unnamed: 7
 0      21.000M    59.897B      5.57%
 1     114.402M    43.566B      2.14%
 2      45.000B     2.340B     -0.11%
 3      25.510B   101.159B     -0.01%
 4     100.000B     2.926B      3.06%
 ..         ...        ...        ...
 145   690.420K     1.627M     13.34%
 146    65.730M     6.698M     10.94%
 147    12.600B     4.955M     -4.48%
 148    47.897M     3.888M      1.80%
 149   100.000M    29.885M     26.77%

 [150 rows x 8 columns]]